{% include 'header.html' %}
<div class="content">
  <div class="post">
    <h1>About</h1><hr>
    <p>

      <br>
      I'm Grant Foudree - a Computer Engineering student at Iowa State University.<br><br>
      My technical interests include:<br>
      <ul>
        <li>Computer security (Network, OS &amp; Kernel)</li>
        <li>Programming (C/C++, x86_64 ASM, Python, Ruby)</li>
        <li>Reverse engineering</li>
        <li>Embedded systems</li>
        <li>Low-level computer architecture</li>
        <li>Linux &amp; BSD (OpenBSD)</li>
        <li>Cryptography</li>
      </ul>
    </p>
    <p>
      Github: <a class="hyperlink" href="&#104;&#116;&#116;&#112;&#115;://&#103;&#105;&#116;&#104;&#117;&#098;&#046;&#099;&#111;&#109;/&#103;&#102;&#111;&#117;&#100;&#114;&#101;&#101;">&#104;&#116;&#116;&#112;&#115;://&#103;&#105;&#116;&#104;&#117;&#098;&#046;&#099;&#111;&#109;/&#103;&#102;&#111;&#117;&#100;&#114;&#101;&#101;</a><br>
      Email: &#103;&#102;&#111;&#117;&#100;&#114;&#101;&#101;&#064;&#105;&#097;&#115;&#116;&#097;&#116;&#101;&#046;&#101;&#100;&#117;<br>
      PGP ID: 4096R/D0944081
    </p>
    <br>
    <br>
    <br>
  </div>

</div>
{% include 'footer.html' %}
