{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="keywords" content="security, cyber, x86, computer">
    <meta name="author" content="Grant Foudree">
    <meta name="description" content="Security research website">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <title>x86sec.org</title>
  </head>

  <body>
    <div class="navbar">
      <nav>
        <div class="wrapper">
        <a class="glow" href="{% url 'index' %}">$0x86sec</a>
        <a class="glow navElements homeButton" href="{% url 'index' %}">Home</a>
        <a class="glow navElements" href="{% url 'projects' %}">Projects</a>
        <a class="glow navElements" href="{% url 'posts' %}">Posts</a>
        <a class="glow navElements" href="{% url 'downloads' %}">Downloads</a>
        <a class="glow navElements" href="{% url 'about' %}">About</a>
      </div>
      </nav>
    </div>
    <div class="wrapper">
      <div class="billboard">
      </div>
      <div class="content">
        <br>
        <h2>{{title}}</h2>
        <hr>
        <br>
